/*
    Steven Tran, 2018
    custom style.css for portfolio page
*/

html, body{
    background-image: url("../images/background/concrete_seamless.png");
    height: 100%;
    /*Default Properties of the webpage layout*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 0;
}

/*wrappr for sticky footer*/
.wrapper{
    height: auto !important;
    height: 100%;
    min-height: 50%;
}

/*Header*/
#mainHeader{
    background-color: #002d67;
    border: 1px solid #cccccc;
    padding: 10vh 3vh 3vh;
    color: white;
    font-family: 'EB Garamond', serif;
}
#headerElements{
    position: relative;
}
#bioImage{
    border: 3px inset gold;
    object-fit: cover;
}
#nameTag{
    position: absolute;
    bottom: 10%;
    left: 25%;
}

/*Navagation*/
#navbarElm{
    text-align: center;
}
#nav{
    font-family: 'Oswald', sans-serif;
    width: 66.66%
}
#nav.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
 }

/*Content*/
.mainContent{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 25px;
    margin: 2vh 0;
    padding: 3vh;
}
.subHeaders{
    padding: 1vh 0;
    margin-bottom: 2vh;
    border-bottom: 2px solid #002d67;
    font-family: 'Oswald', sans-serif;
}
.portfolioContainer{
    margin-bottom: 2vh;
}
.portfolioImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #002d67;
}
.imgContainer{
    position: relative;
    min-height: 150px;
}

/*Footer*/
#mainFooter{
    background-color: #002d67;
    color: #cccccc;
    text-align: center;
    padding: 2vh;
    border: 1px solid #cccccc;
    font-size: smaller;
}

.social{
    width: 62px;
    height: 62px;
    margin: 0 1vh;
}
/*temp css
*{
    border: 2px solid red !important;
}*/

/*Mobile screen size*/
@media only screen and (max-width: 768px){

    #mainHeader{
        padding: 5vh 0 0;
    }
    #headerElements{
        justify-content: center;
    }
    #nameTag{
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2vh 0;
        text-align: center;
    }
    #nav{
        width: 100%;
    }
    .portfolioContainer{
        justify-content: center;
        text-align: center;
    }
}